{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}

<div class="row mt-2">
    <div class="col col-md-10 offset-md-1 alert alert-primary bg-blue text-white text-center">
        <span class="h1">LEADERBOARDS</span>
    </div>
</div>



<table class="table table-borderless">
    <tbody>
        <tr>
            <th scope="row">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Language Identification</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/LID" class="btn btn-primary">LID Leaderboard</a>
                    </div>
                </div>
            </th>
            <td>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Parts of Speech Tagging</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/POS" class="btn btn-primary">POS Leaderboard</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Named Entity Recognition</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/NER" class="btn btn-primary">NER Leaderboard</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Sentiment Analysis</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/SA" class="btn btn-primary">SA Leaderboard</a>
                    </div>
                </div>
            </th>
            <td>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Machine Translation</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/MT" class="btn btn-primary">MT Leaderboard</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


{%- endblock %}