{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}

<div class="row mt-2">
    <div class="col col-md-10 offset-md-1 alert alert-primary bg-blue text-white text-center">
        <span class="h1">LEADERBOARD</span>
    </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">Rank & Datasets</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-add" type="button"
            role="tab" aria-controls="pills-add" aria-selected="false">Add DataSet</button>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <table class="table table-hover center" style="width:800px">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Rank</th>
                    <th scope="col">Team</th>
                    <th scope="col">Model</th>
                    <th scope="col">Github Link</th>
                    {% for data in datasets%}
                    <th scope="col"> <a href="../Datasets/NER/{{ data }}" download="{{ data }}">
                            {{ data[4:-4] }} </a></th>
                    {% endfor %}
                    {% if current_user.email == 'dhruvdarda2001@outlook.com' %}
                    <th scope="col">Admin Rights</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for score in post %}
                <tr class="table-info">
                    <th scope="row">{{ score[4] }}</th>
                    <td>{{ score[2] }}</td>
                    <td>{{ score[1] }}</td>
                    <td>{{ score[3] }}</td>
                    <td> - </td>
                    <td> - </td>
                    {% if current_user.email == 'dhruvdarda2001@outlook.com' %}
                    <td>
                        <form action="/LID/" method="post">
                            <button type="submit" name='AdminDel' value="{{ score[0] }}">Delete
                                Entry</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="pills-add" role="tabpanel" aria-labelledby="pills-add-tab" tabindex="0">
        <p>lol</p>
    </div>
</div>

<script>
    const triggerTabList = document.querySelectorAll('#pills-tab button')
    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', event => {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>

<br>


<div class="row">
    <div class="col col-md-1 offset-md-9">
        <input type="button" class="h6 mt-0 float-right text-center" value="➕ Add New Entry"
            onclick="location.href='/uploader'" />
    </div>
</div>
{%- endblock %}